@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Poppins:wght@100;200;300;700&family=Roboto:ital,wght@0,400;1,900&family=Source+Sans+Pro:wght@300;700&display=swap');

/*
fuentes a utilizar
font-family: 'Caveat', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    margin:0;
    padding:0;
}

.body-container__content {
    font-family: 'Source Sans Pro', sans-serif;
}

.login {
    background-color: rgba(38, 80, 115,0.1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form {
    padding: 3rem 2rem;
}

.login__content {
    background-color: rgba(38, 80, 115,0.1);
    border-radius:1rem;
}

.login__label {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(4, 13, 18);
    font-family: 'Poppins', sans-serif;
}

.login__input-text {
    all: unset;
    background-color: #ECF4D6;
    border-radius:5px;
    padding:.5rem;
}

.login__group{
   padding:.2em 0;
}

.login__group-input{
    padding:.5rem 0;
}

.login__button {
    background-color: rgba(46, 138, 153,0.6);
    color:white;
    border: none;
    padding: .8rem 0;
    width: 100%;
    border-radius: .5rem;
}

.login__group--create{
    margin:.5rem 0;
}

.login__button:hover {
    background-color: rgba(46, 138, 153,0.9);
    cursor:pointer;
}


/*Media Querys*/
@media screen and (min-width:320px) {
    .login {
        /*background-color:red;*/
    }
}


@media screen and (min-width:480px) {
    .login {
        /*background-color: green;*/
    }
}


@media screen and (min-width:768px) {
   /* .login {
        background-color: deeppink;
    }*/


    .login__form {
        padding: 3rem 3rem;
    }

   /* .login__content {
        padding: 8rem;
    }*/

}


@media screen and (min-width:960px) {
    /*.login {
        background-color: red;
    }*/

    .login__form {
        padding: 3rem 5rem;
    }
}


@media screen and (min-width:1024px) {

   /* .login {
        background-color: cadetblue;
    }*/
}


@media screen and (min-width:1328px) {

    /*.login {
        background-color: yellow;
    }*/

    .login__form {
        padding: 4rem 6rem;
    }
}













